{% extends 'martial_arts/base.html' %} {% block content %}
<h2>{{ location.dojo_name }} <a href="">(edit)</a></h2>
<h4>{{ location.address }}</h4>
<h4>{{ location.email }}</h4>
<h4>{{ location.phone }}</h4>

<img src="{{ location.picture_url }}" alt="{{ location.dojo_name }}" class="artist-photo" />

<h3>Classes <a href="">(+)</a></h3>
<ul>
  {% for class_schedule in location.class_schedules.all %}
  <li>
    <a href="{% url 'class_schedule_detail' pk=class_schedule.pk %}">{{ class_schedule.style }}</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
